* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}


.title {
    font-family: "Grenze", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    /* font-weight: bold; */
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    margin-bottom:50px;
}


.tier2-title {
    font-family: "Montserrat Alternates", sans-serif;
    /* font-weight: 100; */
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}


.button-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.button {
    background-color: #333;
    color: #f0f0f0;
    font-size: 18px;
    /* font-weight: bold; */
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.indice {
    width: 90vw;
    padding: 30px;
    display: inline-block;
    /* text-align: justify; */
    height: min-content;
}


.button:hover {
    background-color: #ff5733;
    box-shadow: 0 0 10px #ff5733, 0 0 40px #ff5733;
}

#player-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}


#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

button {
    font-family: "Montserrat Alternates", sans-serif;
    /* font-weight: 100; */
    font-style: normal;
    background-color: #333;
    color: #f0f0f0;
    font-size: 14px;
    /* font-weight: bold; */
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background-color: #ff5733;
    box-shadow: 0 0 10px #ff5733, 0 0 40px #ff5733;
}

#texte {
    display: none;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    background-color: #222;
    border-radius: 8px;
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#button_room{
    margin-top: 30px;
}

@media (max-width: 768px) {
    .button {
        width: 80%;
        font-size: 16px;
    }
}
