@import url("https://fonts.googleapis.com/css?family=Muli:400,700,800&display=swap");
body {
  background: #1F1A25;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  border: 0;
  border-radius: 5px;
  color: #1F1A25;
  font-family: "Muli", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #78E0DC;
  box-shadow: 0 8px #2dc5bf;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:hover, button:focus {
  background-color: #4fd6d1;
}
button:active {
  transform: translateY(4px);
  box-shadow: 0 3px #2dc5bf;
}


.btn-primary {
  border: 0;
  border-radius: 5px;
  color: #1F1A25;
  font-family: "Muli", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #78E0DC;
  box-shadow: 0 8px #2dc5bf;
}
.btn-primary:hover {
  cursor: pointer;
}
.btn-primary:focus {
  outline: none;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #4fd6d1;
}
.btn-primary:active {
  transform: translateY(4px);
  box-shadow: 0 3px #2dc5bf;
}

.btn-secondary {
  border: 0;
  border-radius: 5px;
  color: #1F1A25;
  font-family: "Muli", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #B8B3E9;
  box-shadow: 0 8px #6e64d2;
}
.btn-secondary:hover {
  cursor: pointer;
}
.btn-secondary:focus {
  outline: none;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #938bde;
}
.btn-secondary:active {
  transform: translateY(4px);
  box-shadow: 0 3px #6e64d2;
}

.btn-secondary-custom {
  border: 0;
  border-radius: 5px;
  color: #1F1A25;
  font-family: "Muli", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #f09c1e;
  box-shadow: 0 8px #c57d10;
}
.btn-secondary-custom:hover {
  cursor: pointer;
}
.btn-secondary-custom:focus {
  outline: none;
}
.btn-secondary-custom:hover, .btn-secondary-custom:focus {
  background-color: #fcb140;
}
.btn-secondary-custom:active {
  transform: translateY(4px);
  box-shadow: 0 3px #fcb140;
}

.btn-secondary1-custom {
  border: 0;
  border-radius: 5px;
  color: #1F1A25;
  font-family: "Muli", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #4cfd96;
  box-shadow: 0 8px #03e04d;
}

.btn-secondary1-custom:hover, .btn-secondary1-custom:focus {
  background-color: #7af8ae;
}

.btn-secondary2-custom {
  border: 0;
  border-radius: 5px;
  color: #1F1A25;
  font-family: "Muli", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #7a7a7a;
  box-shadow: 0 8px rgb(87, 87, 87);
}

.btn-secondary3-custom {
  border: 0;
  border-radius: 5px;
  color: #1F1A25;
  font-family: "Muli", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #ffffff;
  box-shadow: 0 8px rgb(207, 207, 207);
}

.btn-secondary4-custom {
  border: 0;
  border-radius: 5px;
  color: #1F1A25;
  font-family: "Muli", Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #ffed50;
  box-shadow: 0 8px #a39302;
}

@media (max-width: 768px) {
    .button {
        width: 80%;
        font-size: 16px;
    }
}
